*
!/.gitignore
!/.gitconfig
!/nvim/
!/nvim/**/*
!/alacritty/
!/alacritty/**/*
!/lazygit/
!/lazygit/**/*
!/lazydocker/
!/lazydocker/**/*
!.bashrc
!.bash_aliases
!/ghostty/
!/ghostty/**/*
!/bat/
!/bat/**/*
!/superfile/
!/superfile/**/*
!/tmux/
!/tmux/**/*
!/starship/
!/starship/**/*
!/zed/
!/zed/**/*
!/dconf.backup
